<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by me. It uses data from MapBox and WeatherStack</p>
            <img src="/img/hand.png" class="portrait" alt="Hand">
        </div>
        {{>footer}}
    </body>
</html>